<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }} ">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1> Train times from LDS</h1>
        </header>

        <div class="content">
            <table class="train table">
                <thead>
                    <td>Destination</td>
                    <td>Destination</td>
                    <td>Departure Time</td>
                    <td>Platform</td>
                    <td>Status</td>
                </thead>
                {% for train in board.trains %}
                <tr>
                    <td> {{train.final_station}}</td>
                    <td> {{train.due_time}} </td>
                    <td> {{train.platform}} </td>
                    <td> {{train.status}} </td>  
                </tr>
                {% endfor %}

            </table>
        </div>


    </body>
</html>